.nav-bar{
    color: solid white;
    background-color: #005b84;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    display: flex;
    flex-direction: row;
}

.photos{
    display: flex;
    flex-direction: row;

}

img{
    width: 500px;
}

.heading{
    display: flex;
    justify-content: center;
}