.nav-bar{
    background-color: #005b84;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:link, a:visited {
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
}

.photo{
    display: flex;
    flex-direction: row;
}

img{
    width: 500px;
    padding: 10px 50px 5px 50px;
}

body{
    background-color: #c6e9ee;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 40px;
}

.heading{
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: space-around;
}

.links a:link, a:visited {
    background-color: #a6e4d0;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: #5db198 2px solid;
  }

.links a:hover {
    background-color: #76ceb4;
  }

.dates{
    display: flex;
    justify-content: space-around;
}

.attribution{
    display: flex;
    justify-content: flex-end;
}

.contacts{
    display: flex;
    align-items: flex-end;
}

.contacts{
    padding: 40px;
}

.subheading{
    text-decoration: overline underline;
    padding-top: 50px;
    color: #005b84;
    
}

h1{
    color: #005b84;
}