.nav-bar{
    background-color: #005b84;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:visited {
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
}

.photo{
    display: flex;
    flex-direction: row;

}

img{
    width: 500px;
    padding: 10px 50px 5px 50px;
}

body{
    background-color: #e4f1f3;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}

p{
    padding: 40px;
}

.heading{
    display: flex;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: space-around;
}

.dates{
    display: flex;
    justify-content: space-around;
}

.attribution{
    display: flex;
    justify-content: flex-end;
}

.contacts{
    display: flex;
    align-items: flex-end;
}

.contacts{
    padding: 40px;
}

.subheading{
    text-decoration: overline underline;
    padding-top: 50px;
    
}